  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

  * {
      font-family: 'Open Sans', sans-serif;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-weight: 600;
  }
  .titulo_principal{
    position: relative;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    font-style: italic;
    top: -100px;
}
header{
    background:url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    top: 90px;
}
h1{
    font-size: 3rem;
}
.titulo_2{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    padding: 5px 0px;
    border-style: groove;
    border-color: rgb(141, 141, 141);
    position: relative;
    top: 90px;
}
.logo{
    width: 125px;
    position: absolute;
    left: 105px;
    transform: translate(0px,350px);
}
.navega1, .navega2, .navega3{
    display: block;
    padding: 10px;
    background-color: rgb(65, 156, 209);
    border-style: groove;
    border-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.navegador{
    padding: 10px;
    position:absolute;
    top: 400px;
    left: 90px;
    font-size: 25px;
}
section{
    background-color: rgb(0, 0, 0);
    color: rgb(248, 248, 248);
    border-radius: 20px;
    position: absolute;
    top: 400px;
    left: 390px;
    font-size: 25px;
}
article{
    padding: 20px;
    width: 900px;
}
h3{
    font-style: italic;
    font-weight: 700;
}
li{
    margin: 25px;
    list-style-type: none;
}
.active{
    text-decoration: none;
    background-color: rgb(81, 218, 159);
}
.contact{
    transform: translate(20px,0px);
}
.contacto1, .contacto2{
    font-size: 25px;
}
.navega1:hover, .navega2:hover, .navega3:hover{
    background-color: rgb(81, 218, 159);
    
}