/* ESTILO GENERAL DE LA PAGINA */
/* ................................................................................. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
      font-family: 'Open Sans', sans-serif;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-weight: 600;
  }

  /* Encabezado general Titulo, Imagner Baner y logo */
header{
    height: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo_principal{
    position: absolute;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    font-style: italic;
}
.banner{
    background:url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}
h1{
    font-size: 3rem;
}
.logo{
    /* position: relative; */
    width: 125px;
    left: 700px;
    top: 60px;
    z-index: 2;
}
.box{
    display: inline-block;
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 30px;
    z-index: 1;
}

/* Menú del navegador y las funciones "active" */

.navega1, .navega2, .navega3, .navega4, .navega5{
    display: block;
    margin: 10px 0px;
    padding: 10px;
    background-color: rgb(65, 156, 209);
    border-style: groove;
    border-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.navega1:hover, .navega2:hover, .navega3:hover, .navega4:hover, .navega5:hover{
    background-color: rgb(81, 218, 159);
}
.active{
    display: none;
    text-decoration: none;
    background-color: rgb(81, 218, 159);
}
.navegador{
    padding: 10px;
    font-size: 25px;
}

/* Estilos propios de la tarjeta Home/Index con el titulo */

main{
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
}
.titulo_2{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    position: relative;
    background-color: rgb(191 191 176);
    border-radius: 20px 20px 0px 0px;
}
.container{
    background-color: rgb(224, 224, 224);
    box-shadow: 2px 2px 3px 3px gray;
    color: rgb(48, 48, 48);
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    object-fit: contain;
}
.events{
    display: flex;
    flex-direction: column;
}
.foot{
    width: 800px;
    align-self: center;
    border-top: 5px solid;
    border-radius: 0px 0px 20px 20px;
}
/* ................................................................................. */

/* article {
    padding: 20px;
    width: 900px;
} */
h3{
    font-style: italic;
    font-weight: 700;
}
li{
    margin: 25px;
    list-style-type: none;
}
.contact{
    transform: translate(20px,0px);
}
.contacto1, .contacto2{
    font-size: 25px;
}