/* ESTILO GENERAL DE LA PAGINA */
/* ................................................................................. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 600;
}
body {
    background: url(../img/yellow_diagonal_geometric_striped_background_with_halftone_detailed.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

/* Encabezado general Titulo, Imagner Baner y linea separadora llamada box.............*/

header {
    height: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo_principal {
    position: absolute;
    left: 300px;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 3px 10px rgb(236, 230, 151);
}
.banner {
    background: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}
h1 {
    font-size: 3rem;
}
.box {
    display: inline-block;
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 30px;
}

/* Menú del navegador y las funciones "active" */

.navega1,.navega2,.navega3,.navega4,.navega5, .navega6{
    display: block;
    margin: 10px 0px;
    padding: 10px;
    background-color: rgb(65, 156, 209);
    border-style: groove;
    border-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.navega1:hover,.navega2:hover,.navega3:hover,.navega4:hover,.navega5:hover {
    background-color: rgb(81, 218, 159);
}
.active {
    display: none;
    text-decoration: none;
    background-color: rgb(81, 218, 159);
}
.navegador {
    padding: 10px;
    font-size: 25px;
}

/* Estilos propios de las tarjetas en general de Home/Index/contacts/logo/Rules/Game Info y el titulo */

main {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row-reverse;
}
h3 {
    font-style: italic;
    font-weight: 700;
}
.titulo_2 {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    position: relative;
    background-color: rgb(191 191 176);
    border-radius: 20px 20px 0px 0px;
}
.container {
    background-color: rgb(224, 224, 224);
    box-shadow: 5px 5px 5px rgb(100, 98, 84);
    border: 5px solid rgb(48, 48, 48);
    color: rgb(48, 48, 48);
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.width_general {
    width: 810px;
}
.padding_general {
    padding: 20px;
}
.width_rules {
    width: 820px;
}

/* imagen de las tarjetas  */

.foot {
    width: 800px;
    align-self: center;
    border-top: 5px solid;
    border-radius: 0px 0px 20px 20px;
}

/* Modifica el contenido dentro de la Tarjea Contacto ..........*/

.contacto1, .contacto2 {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

/* Logo.................... */

.logo_contain {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgb(48, 48, 48);
    width: 140px;
    height: 140px;
}
.logo {
    background-color: rgba(48, 48, 48);
    width: 125px;
    left: 700px;
    top: 60px;
}

/* ...............Cambios y estilos en las listas y tabla!............................... */

li {
    list-style-position: inside;
    padding: 20px;
}
.li_none {
    list-style-type: none;
}
table {
    /* border-spacing: 5px; */
    border-collapse: collapse
}
td,th {
    padding: 20px;
    text-align: center;
    /* border: 2px solid rgb(48, 48, 48); */
}

/* ........Cambios en general.... */

span{
    font-style: italic;
    font-weight: 700;
}

/* /Definimos la posicion del mapa/ */

.maps {
    visibility: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
.map_position_top{
    top: 20%;
}
.map_position_center{
    top: 40%;
}
.map_position_bottom{
    top: 50%;
}

/* /hacemos visible el mapa/ */

.visual_map:hover .maps {
    visibility: visible;
    transition: all 0.5s linear;
}
iframe{
    border-radius: 0 0 20px 20px;
    width: 400px;
    height: 300px;
}